body{
    background-color: lightblue;
    color: white;
    font: bold;

}

.recipes{
    background-color: white;
    color: black;
    border-radius: 150px;
    margin: auto;
}

.recipe-description{
    background-color: teal;
    color: whitesmoke;
    text-align: center;
    border-radius: 150px;
    margin: auto;
    padding: 1px;
}

.recipe-list{
    text-align: center;
    background-color: teal;
    border-radius: 150px;
    border-color: aqua;
    margin: auto;
    padding: 1px;
}
li{
    font-family: 'Verdana', 'Times New Roman', 'sans-serif';
}

h1{
    font-family: 'Verdana';
    text-align: center;
}